<div class="row form-group">
  <div class="col-md-9">
    <h4>All Students</h4>
  </div>
  <div class="col-md-3 text-right">
    <button class="btn btn-success" routerLink="/add">Add New Student
    </button>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <tr class="default">
      <th rowspan="2" class="text-center" style="vertical-align: middle">ID#
      </th>
      <th rowspan="2" class="text-center" style="vertical-align: middle">StudentAdminno
      </th>
      <th rowspan="2" class="text-center" style="vertical-align: middle">ClassId
      </th>
      <th rowspan="2" class="text-center" style="vertical-align: middle">CampusId
      </th>
      <th colspan="3" class="text-center">Actions</th>
    </tr>
    <tr class="default">
      <th class="text-center">View</th>
      <th class="text-center">Update</th>
      <th class="text-center">Delete</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{student.sdId}}</td>
      <td>{{student.studentadminno}}</td>
      <td>{{student.classId}}</td>
      <td>{{student.cmId}}</td>
      <td class="text-center">
        <button type="button" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-block btn-xs" (click)="viewDetail(user._id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
      </td>
      <td class="text-center">
        <button type="button" class="btn btn-block btn-default btn-xs" (click)="update(user._id)"><i class="fa fa-edit" aria-hidden="true"></i></button>
      </td>
      <td class="text-center">
        <button type="button" (click)="remove(user._id)" class="btn btn-danger btn-block btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button>
      </td>
    </tr>
  </table>
</div>
